*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
    background: #ddd;
    background-image: url("bg.jpg");
    background-position: center;
    background-size: cover;
       
}
.parent-class{
    width: 700px;
    height: auto;
    margin: 0 auto;
    background: #fff;
    border: 1px solid rgb(155, 121, 121);
    margin-top: 50px;
    box-shadow: 10px 5px 5px rgb(84, 79, 79);
    border-radius: 5px;   
}
form{
    margin-left: 15px;
    padding: 20px;    
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 20px;
    gap: 20px;
}
a{
    text-decoration: none;
    /* border: 1px solid #ddd;
    padding: 5px 20px; */
    /* background: #0040FF; */
    color: #ddd;
}
input{
    width: 95%;
    height: 30px;
    outline: 0px solid transparent;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    /* border-bottom-style: groove; */
    border-bottom-color: #0040FF;
}
label{
    display: block;
}
.create-new-account{
    border: 1px solid #ddd;
    padding: 5px 20px;
    background: #298A08;  
    text-align: center;
    width: 95%;
}
.Forgot-Password{
    background: #0040FF;
    border: 1px solid #ddd;
    padding: 5px 20px;
    text-align: center;
}
.log-in{
    background: #0040FF;
    border: 1px solid #ddd;
    padding: 5px 20px;
    margin-right: 10%;
    text-align: center;
}
textarea{
    border: none;
    background-color: #ddd;
    outline: none;
}
.Forgot-Password:hover{
    background: transparent;
    border: 1px solid #0040FF;
    box-shadow: 1px 2px 1px rgb(84, 79, 79);
}
.log-in:hover{
    background: transparent;
    border: 1px solid #0040FF;
    box-shadow: 1px 2px 1px rgb(84, 79, 79);
}
.create-new-account:hover{
    background: transparent;
    border: 1px solid #0040FF;
    box-shadow: 1px 2px 1px rgb(84, 79, 79);
}


